body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.div-tela {
    display: none; 
    text-align: center;
}
.footer {
    margin-top: 5px;
    padding-top: 5px;
    color: #999;
    border-top: solid 1px #ddd;
}



.jumbotron2 {
  background-color: white;
  height: 325px;
  max-height: 325px;
  }


.jumbotron2 font {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    margin: 0;
    line-height: normal; }

.div-log {
  position: absolute;
  top: 125px;
  right: 40px;
  padding-top: 40px;
  left: 450px;
  min-width: 300px;
  margin-right: 40px;
}

.btn-middle{
  width: 48%;
  margin-bottom: 5px;
  margin-left: 3px
}

.down{
  width: 24%;
  float: left;
}

.up{
  width: 24%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.txt-value{
  width: 45%;
}

.new-brewing{
  height: 196px;
}

.btn-large{
  margin-bottom: 5px;
}

.btn-com-info{
  margin-right: 1px;
}

.txt-value{
  float: left;
  margin-left: 6px;
  margin-right: 6px;
}

.form-signin-heading{
  text-align: center;
}

.temperature{
  margin-right: 20px;
}

.time{
  margin-right: 20px;
}

.about{
  margin-top: 30px;
}

.back-2-buttons{
  margin-top: 180px;
}

.back-3-buttons{
  margin-top: 129px;
}

.back-5-buttons{
  margin-top: 7px;
}

.log-1-button{
  margin-top: 180px;
}

.log-1-button-2-info{
  margin-top: 125px;
}

.log-2-buttons{
  margin-top: 129px;
}

.log-2-buttons-1-info{
  margin-top: 99px;
}

.log-2-buttons-2-info{
  margin-top: 74px;
}

.log-3-buttons{
  margin-top: 78px;
}

.log-3-buttons-1-info{
  margin-top: 48px;
}

.log-5-buttons{
  margin-top: 0px;
}

.footer-text{
  font-size: 10px;
}